
body {
  height: 100%;
}

.container {
  height: 100%;
}

img {
  width: 80%;
  margin: none;
}

.col-md-2 {
  width:  15%;
  padding: 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

bottom {}

.thumbnail {
  display: inline-block;
}

#panelHeight {
  position: relative;
  height: 40%;
}
