html {
  background: url("http://thesinofman.com/images/Noah-Bradley_Chief-of-the-Ways.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

select {
  width: 33%; }

option {
  width: 25px; }

img {
  border-radius: 5.5%;
  position: relative;
  display: inline;
  margin: 3px; }

#deckViewImage {
  position: relative;
  margin: 0;
  width: 80%;
  margin-left: 10%;
  margin-top: 2.5%;
  top: 2%; }

.multiEdition {
  border: red 5px solid;
  padding: 0;
  margin: 5px;
  width: 213px;
  height: 306px; }

.imageHolder {
  display: inline-block; }

#editionBrowser {
  height: 50%;
  background: green;
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  z-index: 1;
  bottom: -50%; }

#top {
  position: relative;
  display: block;
  width: 100%;
  background-color: red;
  height: 20px;
  z-index: 1; }

#deckViewer {
  height: 50%;
  background: green;
  position: fixed;
  display: block;
  width: 40%;
  right: 0;
  bottom: -45%;
  z-index: 1; }

#deckViewerHeader {
  display: block;
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: white; }

#testBox {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 90%;
  background-color: red;
  top: 10%;
  right: 0;
  padding-left: 1%;
  margin: 0; }

#deckImageHolder {
  position: absolute;
  display: inline;
  width: 50%;
  height: 90%;
  top: 10%;
  background-color: orange;
  margin: 0; }

.colorButton {
  width: 19%; }

.White:hover, .WhiteClick {
  background-color: white; }

.Blue:hover, .BlueClick {
  background-color: blue;
  color: lightblue; }

.Red:hover, .RedClick {
  background-color: red; }

.Green:hover, .GreenClick {
  background-color: green;
  color: gold; }

.Black:hover, .BlackClick {
  background-color: black;
  color: white; }

.Common {
  background-color: rgba(2, 0, 0, 0.5);
  color: white; }
  .Common:hover, .CommonClick {
    background-color: sienna;
    color: black; }

.Uncommon {
  background-color: rgba(2, 0, 0, 0.5);
  color: white; }
  .Uncommon:hover, .UncommonClick {
    background-color: grey; }

.Rare {
  background-color: rgba(2, 0, 0, 0.5);
  color: white; }
  .Rare:hover, .RareClick {
    background-color: gold;
    color: black; }

.Mythical {
  background-color: rgba(2, 0, 0, 0.5);
  color: white; }
  .Mythical:hover, .MythicalClick {
    background-color: silver;
    color: black; }
