body {
  position: relative;
  background-image: url(http://thesinofman.com/images/Noah-Bradley_Chief-of-the-Ways.jpg);
  // padding-right: 200px;
}

select {
  width: 33%;
}

option {
  width: 25px;
}

img {
  border-radius: 5.5%;
  position: relative;
  display: inline;
  margin: 3px;

}

.multiEdition {
  border: red 5px solid;
  padding: 0px;
  margin: 5px;
  width: 213px;
  height: 306px;

}

.imageHolder {
  display: inline-block;
}

.navbar-fixed-bottom {
  display: none;
  height: 50%;
  background-color: blue;
  border: red 1px solid;
  width: 100%;
  z-index: 0;
}

#top {
  position: relative;
  display: block;
  width: 100%;
  background-color: red;
  height:20px;
  z-index: 1;

}

#deckViewer {

  // @extend .navbar-fixed-bottom;
  height: 50%  ;
  background: green;
  position: fixed;
  display: block;
  width: 40%;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

#deckViewerHeader {
  display: block;
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: white;
}




#testBox {
  position: relative;
  display: block;
  width: 50%;
  height: 90%;
  background-color: red;
  top: 10%;
  right: 0%;
  padding-left: 1%;

}
