body {
  position: absolute;
  background-image: url(http://thesinofman.com/images/Noah-Bradley_Chief-of-the-Ways.jpg);
  background-display: fixed;
}

img {
  border-radius: 3.5%;
  position: relative;
  display: inline;
  margin: 3px;
}

.imageHolder {
  display: inline-block;
}
