body {
  position: absolute;
  background-image: url(http://thesinofman.com/images/Noah-Bradley_Chief-of-the-Ways.jpg);
  background-display: fixed;
}

img {
  border-radius: 5.5%;
  position: relative;
  display: inline;
  margin: 5px;
}

.multiEdition {
  border: red 5px solid;
  padding: 0px;
  margin: 1px;

}

.imageHolder {
  display: inline-block;
}

.navbar-fixed-bottom {
  display: none;
  height: 330px;
  background-color: blue;
  border: red 1px solid;
  width: 100%;


}
